{% extends 'base.html' %}
{% load staticfiles %}
{% load the_tag %}

<html>

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie Recommender System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
     <script src="{% static 'js/jquery.raty.js' %}"></script>
     <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
     <link rel="stylesheet" href="{% static 'css/jquery.raty.css' %}">

{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div>
  <ul class="nav nav-pills nav-justified" id="index">
  {% for item in item_list %}
  <li><a href="#tab{{forloop.counter}}" data-toggle="tab" style="color: FFF;">{{item}}</a></li>
  {% endfor %}
  </ul>
</div>

<div class="tab-content" id="my-content">
{% for grene,indexs in genres.items %}
    {% if grene == "action" %}
    <div class="tab-pane fade" id="tab1">
    {% elif grene == "animation" %}
    <div class="tab-pane fade" id="tab2">
    {% elif grene == "comedy" %}
    <div class="tab-pane fade" id="tab3">
    {% elif grene == "crime" %}
    <div class="tab-pane fade" id="tab4">
    {% elif grene == "drama" %}
    <div class="tab-pane fade" id="tab5">
    {% elif grene == "love" %}
    <div class="tab-pane fade" id="tab6">
    {% elif grene == "science" %}
    <div class="tab-pane fade" id="tab7">
    {% elif grene == "thriller" %}
    <div class="tab-pane fade" id="tab8">
    {% endif %}

 <ul class="figures_lists"
 style= "margin-left: 35; list-style-type: none;">
{% for index in indexs %}
  <li class="list_item" data-trigger-class="list_item_hover"
  style=  "display: inline-block;  vertical-align: top;  margin-bottom: 20px;  position: relative;  width:15%;  padding: 5px;">
      <div class="pic" style="width: 80%">
      <img style="width: 182px;height: 268px;" src="{% static 'res/movies/'%}{{grene}}/{{index|check_index}}.jpg">
      </div>
      <div class="figure_title" align="center">
      <a href="moviedetail/searchbyid?id=tt{{index}}" target="_blank" style="color: honeydew;">{{ titleset|get_value:index }}</a>
      </div>
      <div id="{{index}}_rating" align="center"><star></star></div>
      <input id="hint" type="hidden"></input>
      <div class="button" align="center"><button class="submit_score"
         id="{{index}}" >Submit</button></div>
    </li>
{% endfor %}
</ul>
</div>

<!-- </div> -->
{% endfor %}

{% else %}
<section class="not_logined" style="font-size: 30px;">
  <p>You are not logged in</p>
  <p>Please <a href="{% url 'login' %}">login</a> first</p>
</section>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $('star').raty(
{ target : '#hint',
  starOff : '{% static "res/images/star-off-big.png" %}',
  starOn  : '{% static "res/images/star-on-big.png" %}',
  starHalf : '{% static "res/images/star-half-big.png" %}',
  targetKeep : true,
  targetType: 'score',
  number: 5,
  hints: ['bad', 'dislike', 'regular', 'like', 'preferred'],
  half:true,})
</script>

<script>
 $(document).ready(function(){
$(".submit_score").on("click",function(){
  var imdb_ID = $(this).attr("id");
  var imdb_id = "tt"+imdb_ID;
  var rating_filed = document.getElementById(imdb_ID+"_rating")
  var the_score = rating_filed.getElementsByTagName("input")[0].value;
  /*
  $(rating_filed).find('star').raty(
    {
  target : '#hint',
  starOff : '{% static "res/images/star-off-big.png" %}',
  starOn  : '{% static "res/images/star-on-big.png" %}',
  starHalf : '{% static "res/images/star-half-big.png" %}',
  targetKeep : true,
  targetType: 'score',
  score: the_score,
  readOnly: true,
  hints:  ['bad', 'dislike', 'regular', 'like', 'prefer'],
  half:true,
    }) */
  $.post("/rating/",{userid:"{{user.id}}", movieid: imdb_id,rating:the_score,
  'csrfmiddlewaretoken':'{{ csrf_token }}'});
  alert(imdb_id+" userid:{{user.id}} Score:"+the_score);
  $(this).replaceWith("<p style='font-size:18px;color:white;'>Submitted</p>");
})
})
</script>
{% endblock %}