{% extends 'base.html' %}
{% load staticfiles %}
{% load the_tag %}

<html>

{% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie Recommender System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
     <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div>
  <ul class="nav nav-pills nav-justified" id="index">
  {% for item in item_list %}
  <li><a href="#tab{{forloop.counter0}}" data-toggle="tab" style="color: FFF;">{{item}}</a></li>
  {% endfor %}
  </ul>
</div>

  <div class="tab-content" id="my-content">
{% for grene,indexs in genres.items %}
{% comment %}使用tags 去build items(), keys(), values()..{% endcomment %}
    {% if grene == "action" %}
    <div class="tab-pane fade" id="tab0">
    {% elif grene == "animation" %}
    <div class="tab-pane fade" id="tab1">
    {% elif grene == "comedy" %}
    <div class="tab-pane fade" id="tab2">
    {% elif grene == "crime" %}
    <div class="tab-pane fade" id="tab3">
    {% elif grene == "drama" %}
    <div class="tab-pane fade" id="tab4">
    {% elif grene == "love" %}
    <div class="tab-pane fade" id="tab5">
    {% elif grene == "science" %}
    <div class="tab-pane fade" id="tab6">
    <!-- {% elif grene == "thriller" %}
    <div class="tab-pane fade" id="tab7"> -->
    {% endif %}

 <ul class="figures_lists"
 style=
 "margin-left: 35;
 list-style-type: none;">
{% for index in indexs %}
  <li class="list_item" data-trigger-class="list_item_hover"
  style=
  "display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  position: relative;
  padding: 8px;"
  >
      <div class="pic" style="width: 80%;">
        <img src="{% static 'res/movies/'%}{{grene}}/{{index|check_index}}.jpg">
      </div>
      <div class="figure_title" align="center">
      <a href="moviedetail/searchbyid?id=tt{{index}}" target="_blank" style="color: honeydew">{{ titleset|get_value:index }}</a>
      </div>
    </li>
{% endfor %}
</ul>
</div>



</div>
{% endfor %}

{% else %}
<section class="not_logined" style="font-size: 30px;">
  <p>You are not logged in</p>
  <p>Please <a href="{% url 'login' %}">login</a> first</p>
</section>
{% endif %}


{% endblock %}