{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>User Profile</title>
<style>
p
{
font-size: 18px;
}
#Recom
{
    position: relative;
    border-radius: 25px 25px 25px 25px;
    font-size: 18px;
    font-size-adjust: inherit;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4CAF50;
    color: #fff;
}
</style>
{% endblock %}



{% block content %}
<div class ="container" style="background-color: rgb(255, 255, 255,0.65); height:90%;">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 sidebar">
        <br>
        <img style="width: auto;height: auto;max-width: 70%;max-height:70%;border-radius:50%;" src="{% static 'res/user_images/male1.jpg' %}"/>
        <p></p>
        <p>Username: {{user.username}}</p>
        <p>Userid: 10{{user.id}}</p>
        </div>
        <div id="Profile detail" class="col-md-10 col-sm-12 col-xs-12 content">
        <p>Gender</p><input id="gender" type="text">
        <p>Birth Year</p><input id="birth" type="text">
        <p>Preferred Genres</p><input id="prefer" type="text">
        <p></p>
        <button style="font-size: 18px;" id="update_btn">Update</button>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $("#update_btn").on("click",function(){
        var ge = document.getElementById("gender").value;
        var year = document.getElementById("birth").value;
        var genres = document.getElementById("prefer").value;
        $.StandardPost('/profile/Post/',{
        USERID: '{{user.id}}',
        GENDER: ge,
        BIRTHYEAR: year,
        PREFER: genres,
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        })
    })
})
</script>
{% endblock %}