{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Movie Recommender System</title>
<style>
#Recom1
{
    position: relative;
    border-radius: 25px 25px 25px 25px;
    font-size: 18px;
    font-size-adjust: inherit;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4CAF50;
    color: #fff;
}
#Recom2
{
    position: relative;
    border-radius: 25px 25px 25px 25px;
    font-size: 18px;
    font-size-adjust: inherit;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4CAF50;
    color: #fff;
}
</style>
{% endblock %}



{% block content %}
<div class ="container" style="background-color: rgb(255, 255, 255,0.65); height:90%;">
    <div class="row" align="center">
        <h1>You have rated {{rating_movies}} movies</h1>
        <br>
        <div><button id="Recom1">Generate Recommendation 1</button></div>
        <br>
        <div><button id="Recom2">Generate Recommendation 2</button></div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script>
$(document).ready(function(){
    $("#Recom1").on("click",function(){
        $.StandardPost('/recommends/userbased/',{
        USERID: '{{user.id}}',
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        })
    })
})
</script>

<script>
$(document).ready(function(){
    $("#Recom2").on("click",function(){
        $.StandardPost('/recommends/itembased/',{
        USERID: '{{user.id}}',
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        })
    })
})
</script>
{% endblock %}